.vscode/settings.json
yarn-error.log
./reports/*
.env
*.png
tests-out
test-artifacts/screenshots/*.*
test-artifacts/reports/*.*
test-artifacts/reports/allure-reports/*.*
test-artifacts/videos/*.*
.yarn
node_modules
*.code-workspace
.pnp.*
node_modules